@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: 'Special Elite', cursive;
    background-image: url(../images/linedpaper.png);
}

h3 {
    margin-bottom: 0.5rem;
}

button {
    cursor: pointer;
    
}

#header-container {
    width: 25%;
    padding-left: 1rem;
    margin-bottom: 0rem;
}

input[type="number"] {
    width: 4rem
}

#main-container {
    display: flex;
    width: 100vw;
}

#settings-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 23%;
}

.nome-giocatore {
    margin-top: 0.5rem;
}

#aggiungi-giocatore {
    cursor: pointer;
}

#team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#red-team {
    color: red;
}

#blue-team {
    color:blue
}

#mappe-container {
    padding-top: 1.8rem
}

#mappa-container {
    width: 100%;
    height: 18rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#regolamento {
    bottom: 1rem;
    position: absolute;
}

#griglia-container{
    position: absolute;
    padding: 0.5rem;
    right: 0.5rem;
    top: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    width: 75%;
    height: 100%;
}

.card-container {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.selectorsContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blue-selector, .red-selector, .gray-selector, .black-selector {
    background-position: center;
    background-size: cover;
}

.blue-selector {
    background-image: url(../images/AGENTI/blue1.jpg);
}

.red-selector {
    background-image: url(../images/AGENTI/red2.jpg);
}

.black-selector {
    background-image: url(../images/AGENTI/black.jpg);
}

.gray-selector {
    background-image: url(../images/AGENTI/gray1.jpg);
}

.remove-choice {
    background-image: url(../images/removeicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 40%
}